:host {
  display: block;
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.dateInputGroup {
  display: inline-flex;
  align-items: center;
}

my-date-picker {
  display: inline-block;
  width: 130px;
}