@import '../../assets/scss/varaibles';
@import '../../assets/scss/animations';

:host {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 210px;
  background-color: $bg-black;
}

.main-content {
  flex: 1 0 auto;
}

.company-name {
  font-size: 1rem;
  font-weight: 400;
  color: $text-gray;
}

.nav-header {
  position: relative;
  margin: 1rem 0 2rem 0;
}

.status-point {
  position: absolute;
  width: 14px; height: 14px;
  top: 60%;
  transform: translate(10px, -50%);
  background-color: #449d44;
  border-radius: 50%;
  &.blinking {
    animation: blinking 3s infinite;
  }
}

.logo {
  margin-left: 30px;
}

.logo img {
  width: 149px;
  height: 28px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item .nav-link {
  display: block;
  position: relative;
  padding: .75rem 1rem;
  text-decoration: none;
  color: $text-ligh-gray;
  &.iconed {
    padding-left: 50px;
  }
  &.active, &:hover {
    color: $text-white;
    &:before { filter: grayscale(100%) brightness(5) brightness(.9); }
  }
  &:before {
    display: block;
    position: absolute;
    width: 28px; height: 28px;
    left: 0; top: 50%;
    transform: translate(15px, -50%);
    background-size: cover;
    content: '';
  }
  &-dashboard:before {
    background:transparent url('../../assets/img/dashboard/dashboard.svg') center / cover no-repeat;
  }
  &-run-data:before {
    background:transparent url('../../assets/img/dashboard/run-data.svg') center / cover no-repeat;
  }
  &-billing:before {
    background:transparent url('../../assets/img/dashboard/billing.svg') center / cover no-repeat;
  }
  &-billing:before {
    background:transparent url('../../assets/img/dashboard/billing.svg') center / cover no-repeat;
  }
  &-fraud:before {
    background:transparent url('../../assets/img/dashboard/fraud.svg') center / cover no-repeat;
  }
  &-platform:before {
    background:transparent url('../../assets/img/dashboard/platform.svg') center / cover no-repeat;
  }
}