.main-chart-balloon {
  border: 1px solid rgba(255,255,255, .3);
  background-color: rgba(255,255,255, .3);
  box-shadow: 5px 5px 3px rgba(0,0,0, .3);
}

.main-chart-balloon-item {
  &.selected {
    background: red;
  }
}